/*html {*/
    /*background-color: #f0f0f0;*/
/*}*/

/*body {*/
    /*width: 90%;*/
    /*margin: 1% auto;*/
    /*text-align: center;*/
/*}*/

.photoBlock h1, h2,  p {
    text-align: left;
    margin: 0;
}

.photoBlock {
    background-color: #ffffff;
    margin: 20px 25px;
    padding-top: 10px;
    width: 90%;
}

.photoBlock img {
    max-width: 100%;
    height: auto;
}

.photoBlock p {
    width: 80%;
    margin: auto;
}


.photoBlock {
    position: relative;
    /*width: 100%;*/
    /*height: 0;*/
    padding-bottom: 56.25%; /* 16:9 */
}

.photoBlock iframe {
    /*position: absolute;*/
    width: 100%;
    height: 300px;
}